openapi: '3.1.0'
info:
  title: 'Spotify API'
  version: '1.0.0'
servers:
  - url: 'https://gue1-spclient.spotify.com'
paths:
  '/manifests/v9/json/sources/{id}/options/supports_drm':
    get:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETManifestsV9JsonSourcesIdOptionsSupports_drm'
  '/metadata/{id}/track/{id}':
    get:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETMetadataIdTrackId'
  '/api/masthead/v1/masthead':
    get:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETApiMastheadV1Masthead'
  '/color-lyrics/v2/track/0G21yYKMZoHa30cYVi1iA8/image/https%3A%2F%2Fi.scdn.co%2Fimage%2Fab67616d0000b27321ebf49b3292c3f0f575f0f5':
    get:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETColor-lyricsV2Track0G21yYKMZoHa30cYVi1iA8ImageHttps%3A%2F%2Fi.scdn.co%2Fimage%2Fab67616d0000b27321ebf49b3292c3f0f575f0f5'
  '/color-lyrics/v2/track/1EHh1fC9FCKw31wotfXx7L/image/https%3A%2F%2Fi.scdn.co%2Fimage%2Fab67616d0000b2730f9b32498b1d1053d4cc5c9c':
    get:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETColor-lyricsV2Track1EHh1fC9FCKw31wotfXx7LImageHttps%3A%2F%2Fi.scdn.co%2Fimage%2Fab67616d0000b2730f9b32498b1d1053d4cc5c9c'
  '/color-lyrics/v2/track/2SiXAy7TuUkycRVbbWDEpo/image/https%3A%2F%2Fi.scdn.co%2Fimage%2Fab67616d0000b273ff191d7fbdb5a13eaf84132b':
    get:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETColor-lyricsV2Track2SiXAy7TuUkycRVbbWDEpoImageHttps%3A%2F%2Fi.scdn.co%2Fimage%2Fab67616d0000b273ff191d7fbdb5a13eaf84132b'
  '/melody/v1/time':
    get:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETMelodyV1Time'
  '/storage-resolve/v2/files/audio/interactive/{id}/{id}':
    get:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETStorage-resolveV2FilesAudioInteractiveIdId'
  '/track-playback/v1/media/spotify:track:1EHh1fC9FCKw31wotfXx7L':
    get:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GETTrack-playbackV1MediaSpotify:track:1EHh1fC9FCKw31wotfXx7L'
  '/collection/v2/contains':
    post:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTCollectionV2Contains'
  '/gabo-receiver-service/public/v3/events':
    post:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTGabo-receiver-servicePublicV3Events'
  '/gabo-receiver-service/v3/events':
    post:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTGabo-receiver-serviceV3Events'
  '/melody/v1/msg/batch':
    post:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTMelodyV1MsgBatch'
  '/pathfinder/v2/query':
    post:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTPathfinderV2Query'
  '/widevine-license/v1/audio/license':
    post:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/POSTWidevine-licenseV1AudioLicense'
  '/track-playback/v1/devices/{id}/state':
    put:
      summary: ''
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PUTTrack-playbackV1DevicesIdState'
components:
  schemas:
    GETManifestsV9JsonSourcesIdOptionsSupports_drm:
    GETMetadataIdTrackId:
      type: object
      properties:
        gid:
          type: string
        name:
          type: string
        album:
          type: object
          properties:
            gid:
              type: string
            name:
              type: string
            artist:
              type: array
              items:
                type: object
                properties:
                  gid:
                    type: string
                  name:
                    type: string
            label:
              type: string
            date:
              type: object
              properties:
                year:
                  type: number
                month:
                  type: number
                day:
                  type: number
            cover_group:
              type: object
              properties:
                image:
                  type: array
                  items:
                    type: object
                    properties:
                      file_id:
                        type: string
                      size:
                        type: string
                      width:
                        type: number
                      height:
                        type: number
            licensor:
              type: object
              properties:
                uuid:
                  type: string
            prerelease_config:
              type: object
              properties:
                earliest_reveal_date:
                  type: object
                  properties:
                    year:
                      type: number
                    month:
                      type: number
                    day:
                      type: number
                    hour:
                      type: number
                earliest_coverart_reveal_date:
                  type: object
                  properties:
                    year:
                      type: number
                    month:
                      type: number
                    day:
                      type: number
                    hour:
                      type: number
        artist:
          type: array
          items:
            type: object
            properties:
              gid:
                type: string
              name:
                type: string
        number:
          type: number
        disc_number:
          type: number
        duration:
          type: number
        popularity:
          type: number
        external_id:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              id:
                type: string
        earliest_live_timestamp:
          type: number
        has_lyrics:
          type: boolean
        licensor:
          type: object
          properties:
            uuid:
              type: string
        language_of_performance:
          type: array
          items:
            type: string
        original_audio:
          type: object
          properties:
            uuid:
              type: string
            format:
              type: string
        original_title:
          type: string
        artist_with_role:
          type: array
          items:
            type: object
            properties:
              artist_gid:
                type: string
              artist_name:
                type: string
              role:
                type: string
        canonical_uri:
          type: string
        prerelease_config:
          type: object
          nullable: true
          properties:
            earliest_reveal_date:
              type: object
              properties:
                year:
                  type: number
                month:
                  type: number
                day:
                  type: number
                hour:
                  type: number
        content_authorization_attributes:
          type: string
        audio_formats:
          type: array
          items:
            type: object
            properties:
              original_audio:
                type: object
                properties:
                  uuid:
                    type: string
                  format:
                    type: string
        media_type:
          type: string
        implementation_details:
          type: object
          properties:
            catalog_insertion_date:
              type: object
              properties:
                seconds:
                  type: number
                nanos:
                  type: number
    GETApiMastheadV1Masthead:
    GETColor-lyricsV2Track0G21yYKMZoHa30cYVi1iA8ImageHttps%3A%2F%2Fi.scdn.co%2Fimage%2Fab67616d0000b27321ebf49b3292c3f0f575f0f5:
    GETColor-lyricsV2Track1EHh1fC9FCKw31wotfXx7LImageHttps%3A%2F%2Fi.scdn.co%2Fimage%2Fab67616d0000b2730f9b32498b1d1053d4cc5c9c:
    GETColor-lyricsV2Track2SiXAy7TuUkycRVbbWDEpoImageHttps%3A%2F%2Fi.scdn.co%2Fimage%2Fab67616d0000b273ff191d7fbdb5a13eaf84132b:
    GETMelodyV1Time:
      type: object
      properties:
        timestamp:
          type: number
    GETStorage-resolveV2FilesAudioInteractiveIdId:
      type: object
      properties:
        result:
          type: string
        cdnurl:
          type: array
          items:
            type: string
        fileid:
          type: string
        ttl:
          type: number
    GETTrack-playbackV1MediaSpotify:track:1EHh1fC9FCKw31wotfXx7L:
    POSTCollectionV2Contains:
      type: object
      properties:
        found:
          type: array
          items:
            type: boolean
    POSTGabo-receiver-servicePublicV3Events:
      type: object
      properties:
        errors:
          type: array
    POSTGabo-receiver-serviceV3Events:
      type: object
      properties:
        errors:
          type: array
    POSTMelodyV1MsgBatch:
      type: object
      properties:
        status:
          type: number
    POSTPathfinderV2Query:
      type: object
      properties:
        data:
          type: object
          properties:
            trackUnion:
              type: object
              properties:
                __typename:
                  type: string
                canvas:
                  type: object
                  properties:
                    fileId:
                      type: string
                    type:
                      type: string
                    uri:
                      type: string
                    url:
                      type: string
                uri:
                  type: string
    POSTWidevine-licenseV1AudioLicense:
    PUTTrack-playbackV1DevicesIdState:
